* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
    font-size: 18px;
}